<!doctype html>
<html>
  <head>
    <title>Buzzword Bingo</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/underscore.js"></script>
    <script src="/vendor/jquery.js"></script>
    <script src="/vendor/backbone.js"></script>
    <script src="/app.js"></script>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <a class="brand" href="#">Buzzword Bingo</a>
            </li>
          </ul>

          <ul class="nav pull-right">
            <li><a id="nav-nick" href="#">Guest</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div id="container"></div>

    <script id="lobby_template" type="text/x-underscore-template">
      <div class="container">

        <div class="well">
          <h1>Welcome</h1>
          <form class="form-inline">
            <input type="text" class="nick" placeholder="set your nickname..." />
            <input class="btn btn-success" type="submit" value="Play!" />
          </form>
        </div>

        <h1>Games</h1>
        <% games.forEach(function(game) { %>
          <h2><a href="#game/<%= game.id %>"><%= game.name %></a></h2>
          <p><%= game.userCount %> Players</p>
        <% }) %>

      </div>
    </script>



    <script id="game_template" type="text/x-underscore-template">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2 roster"></div>
          <div class="span8 my_board"></div>
          <div class="span2 newsfeed"></div>
        </div>
      </div>
    </script>


    <script id="roster_template" type="text/x-underscore-template">
      <div class="well">
        <h2>Game Name</h2>
      </div>
    </script>

    <script id="newsfeed_template" type="text/x-underscore-template">
      <div class="well">
        <h2>Newsfeed</h2>
        <% events.forEach(function(ev) { %>
          <p><%= ev %></p>
        <% }) %>
      </div>
    </script>

    <script id="board_template" type="text/x-underscore-template">
      <table>
        <tr>
          <% cells.forEach(function(word, index) { %>
            <td class="cell" data-num="<%= index %>"><%= word %></td>
            <% if ((index + 1) % 5 === 0) { %></tr><% } %>
          <% }) %>
      </table>
    </script>


    <script id="some_template" type="text/x-underscore-template">
    </script>


  </body>
</html>
