<!doctype html>
<html>
  <head>
    <title>Buzzword Bingo</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/underscore.js"></script>
    <script src="/vendor/jquery.js"></script>
    <script src="/vendor/angular.js"></script>

    <script src="/app.js"></script>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body ng-app="buzzwordbingo">

    <div class="navbar" ng-controller="LobbyCtrl">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <a class="brand" href="#">Buzzword Bingo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-view></div>


    <script id="roster_template" type="text/x-underscore-template">
      <div class="well">
        <h2>Game Name</h2>
      </div>
    </script>

    <script id="newsfeed_template" type="text/x-underscore-template">
      <div class="well">
        <h2>Newsfeed</h2>
        <% events.forEach(function(ev) { %>
          <p><%= ev %></p>
        <% }) %>
      </div>
    </script>

    <script id="board_template" type="text/x-underscore-template">
    </script>


    <script id="some_template" type="text/x-underscore-template">
    </script>


  </body>
</html>
