<!doctype html>
<html>
  <head>
    <title>Buzzword Bingo</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/underscore.js"></script>
    <script src="/vendor/jquery.js"></script>
    <script src="/vendor/backbone.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <div>
      <a href="#">Welcome</a>
      <a href="#lobby">Lobby</a>
    </div>

    <div id="container"></div>

    <script id="welcome_template" type="text/x-underscore-template">
      <h1>Welcome</h1>
      <form>
        <input type="text" class="nick" />
        <input type="submit" value="Play!" />
      </form>
    </script>

    <script id="lobby_template" type="text/x-underscore-template">
      <h1>Lobby</h1>
      <% rooms.forEach(function(room) { %>
        <h2><a href="#rooms/<%= room.id %>"><%= room.name %></a></h2>
      <% }) %>
    </script>

    <script id="board_template" type="text/x-underscore-template">
      <h1><%= name %></h1>
      <table>
        <tr>
          <% vocab.forEach(function(word, index) { %>
            <td class="cell" data-num="<%= index %>"><%= word %></td>
            <% if ((index + 1) % 5 === 0) { %></tr><% } %>
          <% }) %>
      </table>

    </script>

  </body>
</html>
