body {
}
table {
  width: 100%;
  height: 100%;
}
table, td {
  border: 1px solid #ccc;
}
td {
  padding: 5px;
}

.cell {
  width: 20%;
  height: 85px;
  text-align: center;
}
.cell.marked {
  background: rgba(0,255,0,0.5);
}

.wordTile {
  width: 33%;
  float: left;
}
.wordTile .pad {
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.wordTile .icon-remove {
  float: right;
  cursor: pointer;
  display: none;
}
.wordTile:hover .icon-remove {
  display: block;
}
