<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2 roster">
      <h3>{{game.name}}</h3>
      <p ng-repeat="user in game.users">{{user.nick}}</p>
    </div>

    <div class="span8 my_board">
      <table>
        <tr ng-repeat="row in board.rows">
          <td class="cell" ng-class="cell.classes" ng-repeat="cell in row" ng-click="toggleCell(cell)">{{cell.word}}</td>
        </tr>
      </table>
    </div>

    <div class="span2 newsfeed">
      <h3>Events</h3>
      <p ng-repeat="ev in game.events">{{ev}}</p>
    </div>

  </div>
</div>
