<div class="container">

  <div class="well">
    <h1>Welcome {{nick}}</h1>
    <label><strong>Update your nickname!</strong></label>
    <input type="text" ng-model="nick" placeholder="set your nickname..." />
  </div>

  <h1>Games</h1>
  <button class="btn btn-success"><i class="icon-plus icon-white"></i> New Game</button>
  <div class="well" ng-repeat="game in world.games">
    <h2><a href="#game/{{game.id}}">{{game.name}}</a></h2>
    <p>{{game.vocab.join(", ")}}</p>
    <button class="btn" ng-click="editGame(game)"><i class="icon-pencil"></i> Setup</button>
  </div>

</div>
